* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(43, 46, 49);
  color: black;
  display: flex;
  align-items: baseline;
  justify-content: space-between;

}

.header h1 {
  background-color: rgb(102, 196, 196);
  padding-left: 50px;
  padding-right: 10px;
  border-radius: 5px;
}

.header ul {
  list-style-type: none;
  padding-right: 200px;
  font-weight: bold;

}

.header li {
  text-decoration-line: underline;
  color: rgb(102, 196, 196);
  padding: 10px;
  display: inline-block;


}


.hero-banner {
  height: 200px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
}


.hero-banner h2 {
  background-color: rgb(102, 196, 196);
  display: inline-block;
  margin-top: 100px;
  margin-left: 650px;
  border-radius: 5px;
  padding: 5px;
}


.page-wrapper {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: " Aboutus Who"
    "Portfolio What"
    "Contactus Where"
  ;
  column-gap: 50px;
  row-gap: 100px;

}

.Aboutus {
  grid-area: Aboutus;
  display: grid;
  justify-content: center;
  align-items: end;
  margin-top: 20px;

}

#about {
  border-right: 10px solid darkblue;


}

.Who {
  grid-area: Who;
  display: grid;
  align-items: center;
  justify-content: center;

}


.Portfolio {
  grid-area: Portfolio;
  display: grid;
  justify-content: center;
  align-items: end;
  margin-top: 20px;
}

#work{
  border-right: 10px solid darkblue;
}

.What {
  grid-area: What;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 25% 25%;
  grid-template-areas: " Project1 Project1"
    "Project2 Project3"
    "Project4 Project5";

}



.Project1 {
  grid-area: Project1;
  display: grid;
  justify-content: center;
}

.Project2 {
  grid-area: Project2;
  display: grid;
  justify-content: center;
}

.Project3 {
  grid-area: Project3;
  display: grid;
  justify-content: center;
}

.Project4 {
  grid-area: Project4;
  display: grid;
  justify-content: center;
}


.Project5 {
  grid-area: Project5;
  display: grid;
  justify-content: center;
}


.Contactus {
  grid-area: Contactus;
  display: grid;
  justify-content: center;
  align-items: start;
  margin-bottom: 30px;
}

#contact{
  border-right: 10px solid darkblue;
}

ul {
  list-style-type: none;
}

.Where {
  grid-area: Where;
  display: flex;
  justify-content: space-evenly;
  }


h3 {
  font-size: 50px;
  color: darkblue;
}


h4,
h5,
h6 {
  margin: 0;
}

p,li {
  margin: 0;
  font-weight: bold; color: darkblue;
}