* {
  box-sizing: border-box;


}

body {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}



.header {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(43, 46, 49);
  color: black;
  display: flex;
  align-items: baseline;
  justify-content: space-between;

}

.header h1 {
  background-color: rgb(102, 196, 196);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.header ul {
  list-style-type: none;
  padding-right: 200px;
  font-weight: bold;

}

.header li {
  text-decoration-line: underline;
  color: rgb(102, 196, 196);
  padding: 10px;
  display: inline-block;


}


.hero-banner {
  height: 200px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
}


.hero-banner h2 {
  background-color: rgb(102, 196, 196);
  display: inline-block;
  margin-top: 100px;
  margin-left: 650px;
  border-radius: 5px;
  padding: 5px;
}


.page-wrapper {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 10% 10% 55% 10%;
  grid-template-areas: " Aboutus Who"
  "Skillset How"
    "Portfolio What"
    "Contactus Where"
  ;
  row-gap: 50px;


}

.Aboutus {
  grid-area: Aboutus;
  display: grid;
  justify-content: center;
  align-items: start;
  margin-top: 20px;

}

#about {
  border-right: 10px solid darkblue;



}

.Who {
  grid-area: Who;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-left: 20px;

}

.Skillset {
  grid-area: Skillset;
  display: grid;
  justify-content: center;
  align-items: start;
  margin-top: 20px;

}

#skill {
  border-right: 10px solid darkblue;



}

.How {
  grid-area: How;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-left: 20px;

}




.Portfolio {
  grid-area: Portfolio;
  display: grid;
  justify-content: center;
  align-items: start;
  margin-top: 20px;
}

#work {
  border-right: 10px solid darkblue;
}

.What {
  grid-area: What;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: " Project1 Project1"
    "Project1 Project1"
    "Project2 Project3"
    "Project4 Project5";


}



#Project1 {
  grid-area: Project1;
  background-image: url(../images/V2-LOGO-08_10_21-4.jpg);
  
  height: 400px;
}

#Project2 {
  grid-area: Project2;
  background-image: url(../images/GSC-text-only-Logo_large.png);
    
}

#Project3 {
  grid-area: Project3;
  background-image: url(../images/EOL_600x600_4db2fea1-b616-4b82-a0bd-889b15b1b8ad_360x.jpg);
  }

#Project4 {
  grid-area: Project4;
  background-image: url(../images/IMG_0002.JPG);
 }


#Project5 {
  grid-area: Project5;
  background-image: url(../images/886c0b_2f4a03b3558845349cf83190be2cd312_mv2.jpg);
  }


.projectBox {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px;
  height: 200px;
  border: 3px solid rgb(102, 196, 196);
  cursor: pointer;
  display: grid;
  justify-items: start;
  align-items: end;
}

.projectTitle {
  background-color: rgb(102, 196, 196);
  margin-bottom: 5px;
  padding: 5px;
  }

.Contactus {
  grid-area: Contactus;
  display: grid;
  justify-content:center;
  align-items:flex-start;
  
}

#contact {
  border-right: 10px solid darkblue;
}

ul {
  list-style-type: none;
}

.Where {
  grid-area: Where;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


h3 {
  font-size: 50px;
  color: darkblue;
}



h5,
h6 {
  margin: 0;
}

p,
li {
  margin: 0;
  font-weight: bold;
  color: darkblue;
}
